[submodule "buildout_example"]
	path = buildout_example
	url = https://github.com/prefer/buildout_example
[submodule "virtualenv_example"]
	path = virtualenv_example
	url = https://github.com/prefer/virtualenv_example
[submodule "ansible_example"]
	path = ansible_example
	url = https://github.com/prefer/ansible_example
[submodule "docker_example"]
	path = docker_example
	url = https://github.com/prefer/docker_example
[submodule "todomvc-django-backbone/todomvc-django"]
	path = todomvc-django-backbone/todomvc-django
	url = https://github.com/prefer/todomvc-django
[submodule "todomvc-django-backbone/todomvc-backbone"]
	path = todomvc-django-backbone/todomvc-backbone
	url = https://github.com/prefer/todomvc-backbone
